<section class="container">
    <h1>detalle - <span style="cursor:pointer" class="imprimir glyphicon glyphicon-print" aria-hidden="true"></span></h1> 
    <div class="list-group">
    <div  class="list-group-item active">
        <h4 class="list-group-item-heading">{{$ctrl.propuesta.secretaria}}</h4>
        <p class="list-group-item-text">

            <div class="panel panel-info">
                <div class="panel-heading">Eje</div>
                <div class="panel-body" style="color:black">
                    {{$ctrl.propuesta.eje}}
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">Objetivos Estratégicos</div>
                <div class="panel-body" style="color:black">
                    {{$ctrl.propuesta.objetivos_estrategicos}}
                </div>
            </div>

            

            <div class="panel panel-info">
                <div class="panel-heading">Línea Estratégica</div>
                <div class="panel-body" style="color:black">
                    {{$ctrl.propuesta.linea_estrategica}}
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">Objetivo General</div>
                <div class="panel-body" style="color:black">
                    {{$ctrl.propuesta.objetivo_general}}
                    <p ng-repeat="e in $ctrl.propuesta.estrategias_objetivo">*- {{e}}</p>

                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">Indicador Estratégico</div>
                <div class="panel-body" style="color:black">
                    {{$ctrl.propuesta.indicador_estrategico}}
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">Estrategia General</div>
                <div class="panel-body" style="color:black">
                    {{$ctrl.propuesta.estrategia_general}}
                    <p ng-repeat="e in $ctrl.propuesta.estrategia_lineas_accion">*- {{e}}</p>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">Programas Asociados</div>
                <div class="panel-body" style="color:black">
                    {{$ctrl.propuesta.programas_asociados}}
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">Indicador(es) de Gestión</div>
                <div class="panel-body" style="color:black">
                    {{$ctrl.propuesta.indicadores_de_gestion}}
                </div>
            </div>


        </p>
    </div>
    </div>
</section>

<script>
    $('.imprimir').click(function(){
    window.print();
    return false;
});
</script>